<h3>Usage of Service in Angular</h3>
<h3>{{ somedata }}</h3>

<!-- <h3>Local Data:</h3> -->
<!-- <ul>
  <li *ngFor="let book of localbookList">
    {{ book.id }}
    {{ book.title }}
    {{ book.year }}
    {{ book.author }}
  </li>
</ul> -->
<!-- <ul>
  <li *ngFor="let book of remotebookList">
    {{ book.userId }}
    {{ book.id }}
    {{ book.title }}
    {{ book.body }}
  </li>
</ul> -->
<h3>Student Data</h3>
<ul>
  <li *ngFor="let stud of studentList">
    {{ stud.rollno }}
    {{ stud.name }}
    {{ stud.age }}
  </li>
</ul>
